{% trans_default_domain 'FOSUserBundle' %}
<div class="fos_user_user_show">
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">

                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        Marcus Doe
                    </div>
                    <div class="profile-usertitle-job">
                        <p>{{ 'profile.show.username'|trans }}: {{ app.user.username }}</p>
                    </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR BUTTONS -->
                <div class="profile-userbuttons">
                    <button type="button" class="btn btn-success btn-sm">Follow</button>
                    <button type="button" class="btn btn-danger btn-sm">Message</button>
                </div>
                <!-- END SIDEBAR BUTTONS -->
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                    {#<ul class="nav">
                        <li>
                            <a href="{{ path('fos_user_profile_show') }}">
                                <i class="glyphicon glyphicon-home"></i>
                                Overview </a>
                        </li>
                        <li class="active">
                            <a href="{{ path('fos_user_profile_edit') }}">
                                <i class="glyphicon glyphicon-user"></i>
                                Account Settings </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="glyphicon glyphicon-ok"></i>
                                Tasks </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon-flag"></i>
                                Help </a>
                        </li>
                    </ul>#}
                </div>
                <!-- END MENU -->
            </div>
        </div>
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="profile-content">
                        <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit" enctype="multipart/form-data" role="form" novalidate>
                        {#{{ form_start(form, {'method': 'post', 'action': path('fos_user_profile_edit'), 'attr': {'class': 'fos_user_profile_edit'}}) }}#}

                        <div class="form-group col-lg-6 padding-left-0 padding-right-15">
                            {{ form_label(form.username, 'Nom d\'utilisateur (login)' ) }}
                            <div class="form-group {% if form_errors(form.username) %} has-error {% endif %}">
                                {{ form_errors(form.username) }}
                                {{ form_widget(form.username, { 'attr': {'class': 'form-control', 'placeholder': 'Username'} }) }}
                            </div>
                        </div>
                        <div class="form-group col-lg-6 padding-left-0 padding-right-0">
                            {{ form_label(form.email, 'Email' ) }}
                            <div class="form-group {% if form_errors(form.email) %} has-error {% endif %}">
                                {{ form_errors(form.email) }}
                                {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'Email'} }) }}
                            </div>
                        </div>
                        <div class="form-group col-lg-6 padding-left-0 padding-right-15">
                            {{ form_label(form.firstname, 'Nom' ) }}
                            <div class="form-group {% if form_errors(form.firstname) %} has-error {% endif %}">
                                {{ form_errors(form.firstname) }}
                                {{ form_widget(form.firstname, { 'attr': {'class': 'form-control', 'placeholder': 'Nom'} }) }}
                            </div>
                        </div>
                        <div class="form-group col-lg-6 padding-right-0 padding-left-0">
                            {{ form_label(form.firstname, 'Prénom' ) }}
                            <div class="form-group {% if form_errors(form.lastname) %} has-error {% endif %}">
                                {{ form_errors(form.lastname) }}
                                {{ form_widget(form.lastname, { 'attr': {'class': 'form-control', 'placeholder': 'Prénom'} }) }}
                            </div>
                        </div>
                        <div class="form-group col-lg-12 padding-right-0 padding-left-0">
                            {{ form_label(form.complement, 'Adresse (ex: 16 rue de Paris)' ) }}
                            <div class="form-group {% if form_errors(form.address) %} has-error {% endif %}">
                                {{ form_errors(form.address) }}
                                {{ form_widget(form.address, { 'attr': {'class': 'form-control', 'placeholder': 'Adresse'} }) }}
                            </div>
                        </div>
                        <div class="form-group col-lg-12 padding-right-0 padding-left-0">
                            {{ form_label(form.complement, 'Complément (ex: appart B,..)' ) }}
                            <div class="form-group {% if form_errors(form.complement) %} has-error {% endif %}">
                                {{ form_errors(form.complement) }}
                                {{ form_widget(form.complement, { 'attr': {'class': 'form-control', 'placeholder': 'Complément'} }) }}
                            </div>
                        </div>
                        <div class="form-group col-lg-4 padding-right-15 padding-left-0">
                            {{ form_label(form.zipcode, 'Code postale' ) }}
                            <div class="form-group {% if form_errors(form.zipcode) %} has-error {% endif %}">
                                {{ form_errors(form.zipcode) }}
                                {{ form_widget(form.zipcode, { 'attr': {'class': 'form-control', 'placeholder': 'Cp'} }) }}
                            </div>
                        </div>
                        <div class="form-group col-lg-4 padding-right-0 padding-left-0">
                            {{ form_label(form.country, 'Ville' ) }}
                            <div class="form-group {% if form_errors(form.city) %} has-error {% endif %}">
                                {{ form_errors(form.city) }}
                                {{ form_widget(form.city, { 'attr': {'class': 'form-control', 'placeholder': 'Ville'} }) }}
                            </div>
                        </div>
                        <div class="form-group col-lg-4 padding-right-0 padding-left-15">
                            {{ form_label(form.country, 'Pays' ) }}
                            <div class="form-group {% if form_errors(form.country) %} has-error {% endif %}">
                                {{ form_errors(form.country) }}
                                {{ form_widget(form.country, { 'attr': {'class': 'form-control', 'placeholder': 'Pays'} }) }}
                            </div>
                        </div>
                        <div class="form-group col-lg-6 padding-left-0 padding-right-15">
                            {{ form_label(form.phone, 'N° Téléphone Domicile' ) }}
                            <div class="form-group {% if form_errors(form.phone) %} has-error {% endif %}">
                                {{ form_errors(form.phone) }}
                                {{ form_widget(form.phone, { 'attr': {'class': 'form-control', 'placeholder': 'N° Domicile'} }) }}
                            </div>
                        </div>
                        <div class="form-group col-lg-6 padding-right-0 padding-left-15">
                            {{ form_label(form.mobile, 'N° Téléphone Mobile' ) }}
                            <div class="form-group {% if form_errors(form.mobile) %} has-error {% endif %}">
                                {{ form_errors(form.mobile) }}
                                {{ form_widget(form.mobile, { 'attr': {'class': 'form-control', 'placeholder': 'N° Mobile'} }) }}
                            </div>
                        </div>
                        <div class="col-lg-12 padding-right-0 padding-left-0">
                            <div class="panel panel-default">
                                <!-- Default panel contents -->
                                <div class="panel-heading">Affichage de vos données personnelles</div>
                                <!-- List group -->
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        N° Domicile public
                                        <div class="material-switch pull-right">
                                            {{ form_widget(form.phonePublic) }}
                                            {{ form_label(form.phonePublic, null,{ 'label_attr': {'class': 'label-success'} }) }}
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        N° Mobile public
                                        <div class="material-switch pull-right">
                                            {{ form_widget(form.mobilePublic) }}
                                            {{ form_label(form.mobilePublic, null,{ 'label_attr': {'class': 'label-success'} }) }}
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        Adresse public
                                        <div class="material-switch pull-right">
                                            {{ form_widget(form.addressPublic) }}
                                            {{ form_label(form.addressPublic, null,{ 'label_attr': {'class': 'label-success'} }) }}
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 padding-left-0 padding-right-15">
                            <div class="form-group {% if form_errors(form.longitude) %} has-error {% endif %}">
                                {{ form_errors(form.longitude) }}
                                {{ form_widget(form.longitude, { 'attr': {'class': 'form-control', 'placeholder': 'Longitude'} }) }}
                            </div>
                        </div>
                        <div class="form-group col-lg-6 padding-right-0 padding-left-15">
                            <div class="form-group {% if form_errors(form.latitude) %} has-error {% endif %}">
                                {{ form_errors(form.latitude) }}
                                {{ form_widget(form.latitude, { 'attr': {'class': 'form-control', 'placeholder': 'Latitude'} }) }}
                            </div>
                        </div>
                        <div class="form-group {% if form_errors(form.file) %} has-error {% endif %}">
                            {{ form_widget(form.file, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                            {% if app.user.path is not null %}
                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                <ul id="files-list" class="list-unstyled">
                                                    <li>
                                                        <div class="col-sm-6 col-md-4 file">
                                                            <div class="thumbnail">
                                                                {% if app.user.path is not null %}
                                                                    <img src="{{ asset('/uploads/avatars/300_'~app.user.path) }}" class="img-responsive img-rounded text-center" />
                                                                {% endif %}
                                                                <p>
                                                                    <br />
                                                                    <a href="{{ path('front_user_file_delete', {'id': app.user.id }) }}" class="btn btn-danger" role="button">Supprimer</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        <br />
                        <div>
                            <input type="submit" value="Mettre à jour votre profil" class="btn btn-primary btn-block btn-lg" />
                        </div>
                            {{ form_rest(form) }}
                        </form>
                        {#{{ form_end(form) }}#}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% trans_default_domain 'FOSUserBundle' %}
