{% extends 'BackBundle::layout.html.twig' %}

{% block content %}
    <h1>Whishlist list</h1>
    <a href="{{ path('back_whishlist_new') }}" class="btn btn-info btn-flat pull-left">Create a new entry</a>
    <br />
    <br />
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Createdat</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for whishlist in whishlists %}
                <tr>
                    <td><a href="{{ path('back_whishlist_show', { 'id': whishlist.id }) }}">{{ whishlist.id }}</a></td>
                    <td>{% if whishlist.createdAt %}{{ whishlist.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>
                        <a href="{{ path('back_whishlist_show', { 'id': whishlist.id }) }}" class="label label-success"><i class="fa fa-eye"></i> show</a>
                        <a href="{{ path('back_whishlist_edit', { 'id': whishlist.id }) }}" class="label label-primary"><i class="fa fa-edit"></i> edit</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ knp_pagination_render(whishlists) }}
    </div>
{% endblock %}
