<div class="col-md-12">
    <hr />
    {#{{ dump(search_form) }}#}
    {#<form action="{{ path('front_advert_get_search') }}" method="GET">

        {{ form_errors(search_form) }}
        <div class="form-group col-lg-4 padding-left-0 padding-right-5 {% if form_errors(search_form.keyword) %} has-error {% endif %}">
            <label class="sr-only" for="exampleInputEmail3">Mots clés</label>
            {{ form_errors(search_form.keyword) }}
            {{ form_widget(search_form.keyword, { 'attr': {'class': 'form-control input-lg', 'placeholder': 'Mots clés'} }) }}
        </div>
        <div class="form-group col-lg-4 padding-left-0 padding-right-5">
            {{ form_widget(search_form.category, { 'attr': {'class': 'form-control input-lg'} }) }}
        </div>
        <div class="form-group col-lg-4 padding-right-0 padding-left-0">
            <div id="custom-geo-input">
                <div class="input-group col-md-12">
                    {{ form_widget(search_form.city, { 'attr': {'class': 'form-control input-lg', 'placeholder': 'Ville/Cp'} }) }}
                    <span class="input-group-btn">
                            <button class="btn btn-info btn-lg" type="button">
                                <i class="glyphicon glyphicon-map-marker"></i>
                            </button>
                        </span>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <button type="submit" class="btn btn-default btn-lg btn-block"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Rechercher</button>
        {{ form_widget(search_form) }}
    </form>#}

    <form action="{{ path('front_advert_search') }}" method="POST">
        {{ form_errors(search_form) }}
        <div class="form-group col-lg-4 padding-left-0 padding-right-5 {% if form_errors(search_form.keyword) %} has-error {% endif %}">
            <label class="sr-only" for="exampleInputEmail3">Mots clés</label>
            {{ form_errors(search_form.keyword) }}
            {{ form_widget(search_form.keyword, { 'attr': {'class': 'form-control input-lg', 'placeholder': 'Mots clés'} }) }}
        </div>
        <div class="form-group col-lg-4 padding-left-0 padding-right-5">
            {{ form_widget(search_form.category, { 'attr': {'class': 'form-control input-lg'} }) }}
        </div>
        <div class="form-group col-lg-4 padding-right-0 padding-left-0">
            <div id="custom-geo-input">
                <div class="input-group col-md-12">
                    {{ form_widget(search_form.city, { 'attr': {'class': 'form-control input-lg', 'placeholder': 'Ville/Cp'} }) }}
                    <span class="input-group-btn">
                            <button class="btn btn-info btn-lg" type="button">
                                <i class="glyphicon glyphicon-map-marker"></i>
                            </button>
                        </span>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <button type="submit" class="btn btn-default btn-lg btn-block"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Rechercher</button>
        {{ form_widget(search_form) }}
    </form>
    {#<form>
        <div class="form-group col-lg-4 padding-left-0 padding-right-5">
            <label class="sr-only" for="exampleInputEmail3">Mots clés</label>
            <input type="text" class="form-control input-lg" placeholder="Mots clés">
        </div>

        <div class="form-group col-lg-4 padding-left-0 padding-right-5">
            <select class="form-control input-lg">
                <option>Catégories</option>
                {% for i in 1..8 %}
                    <option>Catégorie 0{{ i }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group col-lg-4 padding-right-0 padding-left-0">
            <div id="custom-geo-input">
                <div class="input-group col-md-12">
                    <input type="text" class="form-control input-lg" placeholder="Ville/Cp" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-info btn-lg" type="button">
                                            <i class="glyphicon glyphicon-map-marker"></i>
                                        </button>
                                    </span>
                </div>
            </div>
        </div>
        <div class="form-group col-lg-6 padding-right-0 padding-left-0 ">
            <select class="form-control input-lg">
                <option> < 10km</option>
                <option> < 50km</option>
                <option> < 100km</option>
                <option> < 200km</option>
                <option> Partout</option>
            </select>
        </div>
        <div class="clearfix"></div>
        <button type="submit" class="btn btn-success btn-lg btn-block"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Rechercher</button>
    </form>#}
</div>