<div class="navmenu navmenu-default navmenu-fixed-left offcanvas">
    <a class="navmenu-brand" href="{{ path('front_homepage') }}" {% if app.request.attributes.get('_route') == 'front_homepage' %} class="active" {% endif %}>Annonces</a>
    <ul class="nav navmenu-nav">
        <li><a href="#">Déposer une annonce</a></li>
        <li class="active"><a href="#">Offres</a></li>
        <li><a href="#">Demandes</a></li>
        <li><a href="#">Blog</a></li>
    </ul>
    <ul class="nav navmenu-nav">
        <li class="dropdown">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} <b class="caret"></b>
                </a>
            {% else %}
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Compte <b class="caret"></b>
                </a>
            {% endif %}
            <ul class="dropdown-menu navmenu-nav">
                {% if is_granted('ROLE_ADMIN') %}
                    <li>
                        <a href="{{ path('back_homepage') }}">Accéder à l'admin</a>
                    </li>
                {% endif %}
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li>
                        <a href="{{ path('fos_user_profile_edit') }}" {% if app.request.attributes.get('_route') == 'fos_user_profile_edit' %} class="active" {% endif %}>Votre profil</a>
                    </li>
                    <li>
                        <a href="#">Vos annonces</a>
                    </li>
                    <li>
                        <a href="#">Votre whislist</a>
                    </li>
                    <li>
                        <a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path('fos_user_registration_register') }}"{% if app.request.attributes.get('_route') == 'fos_user_registration_register' %} class="active" {% endif %}>Créer un compte</a>
                    </li>
                    <li>
                        <a href="{{ path('fos_user_security_login') }}"{% if app.request.attributes.get('_route') == 'fos_user_security_login' %} class="active" {% endif %}>Identifiez-vous</a>
                    </li>
                {% endif %}
            </ul>
        </li>
    </ul>
</div>