{% trans_default_domain 'FOSUserBundle' %}
    <br />
    <div class="row">
        <div class="col-sm-12">
            <div class="well">
                {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                    {{ form_label(form.current_password, 'Mot de passe actuel') }}
                    <div class="form-group {% if form_errors(form.current_password) %} has-error {% endif %}">
                        {{ form_errors(form.current_password) }}
                        {{ form_widget(form.current_password, { 'attr': {'class': 'form-control', 'placeholder': 'Mot de passe actuel'} }) }}
                    </div>

                    {{ form_label(form.plainPassword.first) }}
                    <div class="form-group {% if form_errors(form.plainPassword.first) %} has-error {% endif %}">
                        {{ form_errors(form.plainPassword.first) }}
                        {{ form_widget(form.plainPassword.first , { 'attr': {'class': 'form-control', 'placeholder': 'Password'} }) }}
                    </div>
                    {{ form_label(form.plainPassword.second) }}
                    <div class="form-group {% if form_errors(form.plainPassword.second) %} has-error {% endif %}">
                        {{ form_errors(form.plainPassword.second) }}
                        {{ form_widget(form.plainPassword.second , { 'attr': {'class': 'form-control', 'placeholder': 'Repeat new password' } }) }}
                    </div>
                    {{ form_rest(form) }}
                    <div>
                        <input type="submit" value="{{ 'change_password.submit'|trans }}" class="btn btn-success btn-block" />
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>