{% extends 'BackBundle::layout.html.twig' %}

{% block content %}
    <h1>AdvertFile</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ advertFile.id }}</td>
            </tr>
            <tr>
                <th>Alt</th>
                <td>{{ advertFile.alt }}</td>
            </tr>
            <tr>
                <th>Path</th>
                <td>{{ advertFile.path }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if advertFile.createdAt %}{{ advertFile.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('advertfile_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('advertfile_edit', { 'id': advertFile.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
