{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/css/front/fos_log_reg_pass.css') }}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
{% endblock %}
{% block content %}
    {% block fos_user_content %}
        <div id="fb-root"></div><script>
        window.fbAsyncInit = function() {
            // init the FB JS SDK
            FB.init({
                appId      : '483006711910679',
                xfbml      : true,
                version    : 'v2.5',
                status     : true
            });
        };

        // Load the SDK asynchronously
        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        function fb_login() {
            FB.getLoginStatus(function(response) {
                if (response.status === 'connected') {
                    // connected
                    alert('Already connected, redirect to login page to create token.');
                    document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
                } else {
                    // not_authorized
                    FB.login(function(response) {
                        if (response.authResponse) {
                            document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
                        } else {
                            alert('Cancelled.');
                        }
                    }, {scope: 'email'});
                }
            });
        }
    </script>
        {#<div
                class="fb-like"
                data-share="true"
                data-width="450"
                data-show-faces="true">
        </div>#}
        {% if error %}
            <div>{{ error }}</div>
        {% endif %}

        <div class="row">
            <div class="col-md-6">
                <h3>S'identifier, ou <a href="{{ path("fos_user_registration_register") }}">S'enregistrer</a></h3>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <a href="#" onclick="fb_login();" class="btn btn-lg btn-primary btn-block">Facebook</a>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <a href="{{ path('hwi_oauth_service_redirect', {'service': 'google' }) }}" class="btn btn-lg btn-info btn-block">Google</a>
                    </div>
                </div>
                <div class="login-or">
                    <hr class="hr-or">
                    <span class="span-or">ou</span>
                </div>

                <form action="{{ path("fos_user_security_check") }}" method="post" role="form">
                    <div class="form-group">
                        <label for="username">Pseudonyme</label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" required="required" />
                    </div>
                    <div class="form-group">
                        <a class="pull-right" href="{{ path("fos_user_resetting_request") }}">Mot de passe oublié?</a>
                        <label for="password">Mot de passe</label>
                        <input type="password" id="password" name="_password" class="form-control" required="required" />
                    </div>
                    <div class="checkbox pull-right">
                        <label for="remember_me">
                            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                            Se souvenir de moi</label>
                    </div>
                    <button type="submit" class="btn btn btn-primary btn-block btn-lg">
                        Se connecter
                    </button>
                </form>
            </div>
            <div class="col-md-6">
                <br />
                <h2>Terms and Conditions</h2>
                <p>
                    By clicking on "Register" you agree to The Company's' Terms and Conditions
                </p>
                <p>
                    While rare, prices are subject to change based on exchange rate fluctuations -
                    should such a fluctuation happen, we may request an additional payment. You have the option to request a full refund or to pay the new price. (Paragraph 13.5.8)
                </p>
                <p>
                    Should there be an error in the description or pricing of a product, we will provide you with a full refund (Paragraph 13.5.6)
                </p>
                <p>
                    Acceptance of an order by us is dependent on our suppliers ability to provide the product. (Paragraph 13.5.6)
                </p>
            </div>
        </div>
    {% endblock fos_user_content %}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
    <script src="{{ asset('/js/front/fos_log_reg_pass.js') }}"></script>

{% endblock %}