{% trans_default_domain 'FOSUserBundle' %}

<div id="SignInForm" class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" id="myModalLabel"><i class="fa fa-lock"></i> Réinitialiser votre Mot de passe</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12">
                    <p>Répéter votre nouveau mot de passe dans les 2 champs ci-dessous:</p>
                    <div class="well">
                        {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
                            {{ form_label(form.plainPassword.first, 'Mot de passe') }}
                            <div class="form-group {% if form_errors(form.plainPassword.first) %} has-error {% endif %}">
                                {{ form_errors(form.plainPassword.first) }}
                                {{ form_widget(form.plainPassword.first , { 'attr': {'class': 'form-control', 'placeholder': 'Mot de passe'} }) }}
                            </div>
                            {{ form_label(form.plainPassword.second, 'Répétez votre mot de passe') }}
                            <div class="form-group {% if form_errors(form.plainPassword.second) %} has-error {% endif %}">
                                {{ form_errors(form.plainPassword.second) }}
                                {{ form_widget(form.plainPassword.second , { 'attr': {'class': 'form-control', 'placeholder': 'Répétez votre mot de passe'} }) }}
                            </div>
                            <input type="submit" value="{{ 'resetting.reset.submit'|trans }}" class="btn btn-success btn-block"/>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
