{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/css/front/main.css') }}">
{% endblock %}

{% block body %}
    <!-- Content -->
    <div class="navmenu navmenu-default navmenu-fixed-left offcanvas">
        <a class="navmenu-brand" href="#">Annonce</a>
        <ul class="nav navmenu-nav">
            <li><a href="#">Déposer une annonce</a></li>
            <li class="active"><a href="./">Offres</a></li>
            <li><a href="#">Demandes</a></li>
        </ul>
        <ul class="nav navmenu-nav">
            <li><a href="#">Mes annonces</a></li>
            <li><a href="#">Ma whislist</a></li>
            <li><a href="#">Blog</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mon compte <b class="caret"></b></a>
                <ul class="dropdown-menu navmenu-nav">
                    <li><a href="#">Créer un compte</a></li>
                    <li><a href="#">Identifiez-vous</a></li>
                </ul>
            </li>
        </ul>
    </div>



    <div class="container">
        <div class="navbar navbar-default navbar-fixed-top">
            <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="page-header">
            <h1>Bienvenue sur le petit site d'annonce trankilou</h1>
            <p class="lead">Faites votre recherche ci-desous</p>
        </div>

        <div class="row">
            <div class="col-md-12">
                <form>
                    <div class="form-group">
                        <label class="sr-only" for="exampleInputEmail3">Mots clés</label>
                        <input type="text" class="form-control input-lg" placeholder="Mots clés">
                    </div>
                    <div class="form-group">
                        <select class="form-control input-lg">
                            <option>Catégories</option>
                            {% for i in 1..8 %}
                                <option>Catégorie 0{{ i }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <div id="custom-geo-input">
                            <div class="input-group col-md-12">
                                <input type="text" class="form-control input-lg" placeholder="Ville/Cp" />
                                <span class="input-group-btn">
                                    <button class="btn btn-info btn-lg" type="button">
                                        <i class="glyphicon glyphicon-map-marker"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <select class="form-control input-lg">
                            <option> < 10km</option>
                            <option> < 50km</option>
                            <option> < 100km</option>
                            <option> < 200km</option>
                            <option> Partout</option>
                        </select>
                    </div>
                    {#<div class="form-group">
                        <div class="range range-primary">
                            <input type="range" name="range" min="1" max="100" value="50" onchange="rangePrimary.value=value">
                            <output id="rangePrimary">50</output>
                        </div>
                    </div>#}
                    <div class="clearfix"></div>
                    <br />
                    <button type="submit" class="btn btn-success btn-lg btn-block"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Rechercher</button>
                </form>
            </div>
        </div>
        <hr />
        {% block content %}

        {% endblock %}
    </div>
    <!-- /Content -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/js/front/scrollup.js') }}"></script>
{% endblock %}