<div class="navmenu navmenu-default navmenu-fixed-left offcanvas hidden-md hidden-lg">
    <a class="navmenu-brand" href="{{ path('front_homepage') }}" {% if app.request.attributes.get('_route') == 'front_homepage' %} class="active" {% endif %}>Annonces</a>
    <ul class="nav navmenu-nav">
        <li><a href="{{ path('front_logged_advert_new') }}">Déposer une annonce</a></li>
        <li class="active"><a href="#">Offres</a></li>
        <li><a href="#">Demandes</a></li>
        <li><a href="#">Blog</a></li>
    </ul>
    <ul class="nav navmenu-nav">
        <li class="dropdown">
            {% if is_granted("IS_AUTHENTICATED_FULLY ") %}
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} <b class="caret"></b>
                </a>
            {% else %}
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Compte <b class="caret"></b>
                </a>
            {% endif %}
            <ul class="dropdown-menu navmenu-nav">
                {% if is_granted('ROLE_ADMIN') %}
                    <li>
                        <a href="{{ path('back_homepage') }}">Accéder à l'admin</a>
                    </li>
                {% endif %}
                {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                    <li>
                        <a href="{{ path('fos_user_profile_show') }}" {% if app.request.attributes.get('_route') == 'fos_user_profile_show' %} class="active" {% endif %}>Votre profil</a>
                    </li>
                    <li>
                        <a href="{{ path('front_logged_advert_index') }}">Vos annonces</a>
                    </li>
                    <li>
                        <a href="#">Votre whislist</a>
                    </li>
                    <li>
                        <a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path('fos_user_registration_register') }}"{% if app.request.attributes.get('_route') == 'fos_user_registration_register' %} class="active" {% endif %}>Créer un compte</a>
                    </li>
                    <li>
                        <a href="{{ path('fos_user_security_login') }}"{% if app.request.attributes.get('_route') == 'fos_user_security_login' %} class="active" {% endif %}>Identifiez-vous</a>
                    </li>
                {% endif %}
            </ul>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default hidden-xs hidden-sm">
    <div class="container">

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('front_homepage') }}">Annonces <span class="sr-only">(current)</span></a></li>
                <li class="active"><a href="{{ path('front_logged_advert_new') }}">Déposer une annonce</a></li>
                <li><a href="#">Offres</a></li>
                <li><a href="#">Demandes</a></li>
                <li><a href="#">Blog</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Catégories <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% for i in 1..8 %}
                            <li><a href="#">Catégorie 0{{ i }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} <b class="caret"></b>
                        </a>
                    {% else %}
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Compte <b class="caret"></b>
                        </a>
                    {% endif %}
                    <ul class="dropdown-menu">
                        {% if is_granted("ROLE_ADMIN") %}
                            <li>
                                <a href="{{ path('back_homepage') }}" {% if app.request.attributes.get('_route') == 'back_homepage' %} class="active" {% endif %}>Espace admin</a>
                            </li>
                        {% endif %}
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <li>
                                <a href="{{ path('fos_user_profile_show') }}" {% if app.request.attributes.get('_route') == 'fos_user_profile_show' %} class="active" {% endif %}>Votre profil</a>
                            </li>
                            <li>
                                <a href="{{ path('front_logged_advert_index') }}">Vos annonces</a>
                            </li>
                            <li>
                                <a href="#">Votre whislist</a>
                            </li>
                            <li>
                                <a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ path('fos_user_registration_register') }}"{% if app.request.attributes.get('_route') == 'fos_user_registration_register' %} class="active" {% endif %}>Créer un compte</a>
                            </li>
                            <li>
                                <a href="{{ path('fos_user_security_login') }}"{% if app.request.attributes.get('_route') == 'fos_user_security_login' %} class="active" {% endif %}>Identifiez-vous</a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
