{% extends 'BackBundle::layout.html.twig' %}

{% block content %}
    <h1>Advert creation</h1>

    {{ form_start(form) }}
        {{ form_errors(form) }}

        <div class="form-group col-lg-6 padding-left-0 padding-right-15">
            <div class="form-group {% if form_errors(form.type) %} has-error {% endif %}">
                {{ form_errors(form.type) }}
                {{ form_widget(form.type, { 'attr': {'class': 'form-control', 'placeholder': 'Type d\'offre'} }) }}
            </div>
        </div>
        <div class="form-group col-lg-6 padding-left-0 padding-right-0">
            <div class="form-group {% if form_errors(form.category) %} has-error {% endif %}">
                {{ form_errors(form.category) }}
                {{ form_widget(form.category, { 'attr': {'class': 'form-control', 'placeholder': 'Catégorie'} }) }}
            </div>
        </div>
        <div class="form-group col-lg-6 padding-left-0 padding-right-15">
            <div class="form-group {% if form_errors(form.title) %} has-error {% endif %}">
                {{ form_errors(form.title) }}
                {{ form_widget(form.title, { 'attr': {'class': 'form-control', 'placeholder': 'Titre'} }) }}
            </div>
        </div>
        <div class="form-group col-lg-6 padding-left-0 padding-right-0">
            <div class="form-group {% if form_errors(form.price) %} has-error {% endif %}">
                {{ form_errors(form.price) }}
                {{ form_widget(form.price, { 'attr': {'class': 'form-control', 'placeholder': 'Prix'} }) }}
            </div>
        </div>
        <div class="form-group col-lg-12 padding-left-0 padding-right-0">
            <div class="form-group {% if form_errors(form.content) %} has-error {% endif %}">
                {{ form_errors(form.content) }}
                {{ form_widget(form.content, { 'attr': {'class': 'form-control', 'placeholder': 'Contenu'} }) }}
            </div>
        </div>

        <div class="form-group col-lg-4 padding-left-0 padding-right-15">
            <div class="form-group {% if form_errors(form.location) %} has-error {% endif %}">
                {{ form_errors(form.location) }}
                {{ form_widget(form.location, { 'attr': {'class': 'form-control', 'placeholder': 'Location'} }) }}
            </div>
        </div>
        <div class="form-group col-lg-4 padding-left-0 padding-right-15">
            <div class="form-group {% if form_errors(form.longitude) %} has-error {% endif %}">
                {{ form_errors(form.longitude) }}
                {{ form_widget(form.longitude, { 'attr': {'class': 'form-control', 'placeholder': 'Longitude'} }) }}
            </div>
        </div>
        <div class="form-group col-lg-4 padding-right-0 padding-left-15">
            <div class="form-group {% if form_errors(form.latitude) %} has-error {% endif %}">
                {{ form_errors(form.latitude) }}
                {{ form_widget(form.latitude, { 'attr': {'class': 'form-control', 'placeholder': 'Latitude'} }) }}
            </div>
        </div>
        <div class="col-lg-12 padding-right-0 padding-left-0">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Affichage de vos données personnelles</div>

                <!-- List group -->
                <ul class="list-group">
                    <li class="list-group-item">
                        L'annonce est-elle publique
                        <div class="material-switch pull-right">
                            {{ form_widget(form.isPublic) }}
                            {{ form_label(form.isPublic, null,{ 'label_attr': {'class': 'label-success'} }) }}
                        </div>
                    </li>
                    <li class="list-group-item">
                        L'annonce est-elle active
                        <div class="material-switch pull-right">
                            {{ form_widget(form.isActivated) }}
                            {{ form_label(form.isActivated, null,{ 'label_attr': {'class': 'label-success'} }) }}
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        {% if advert.fileadverts|length <= 4  %}
            <div class="form-group col-lg-12 padding-left-0 padding-right-0">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="#" id="add-file" class="btn btn-default">Ajouter un fichier</a>
                        <hr />
                        <div id="container-file">
                            <div id="prototype-file" class="prototype-file">
                                {% set prototype_file = form.files.vars.prototype %}
                                <div class="form-group {% if form_errors(prototype_file.file) %} has-error {% endif %}">
                                    {{ form_widget(prototype_file.file, { 'attr': {'class': 'form-control file'} }) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        {{ form_widget(form._token) }}

        <input type="submit" value="Create" class="btn btn-success btn-lg" />
        <a href="{{ path('back_advert_index') }}" class="btn btn-default btn-lg">Back to the list</a>
    {{ form_end(form, {'render_rest': false}) }}
    <br />
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            // Supprimer le text des label sur les checkbox public ect..
            $('.material-switch label').text('');

        });
    </script>
    {% if advert.fileadverts|length <= 4  %}
        <script src="{{ asset('/js/prototype-file.js') }}"></script>
    {% endif %}
{% endblock %}