{% extends 'BackBundle::layout.html.twig' %}

{% block content %}
    <h1>User creation</h1>

    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="form-group col-lg-6 padding-left-0 padding-right-15">
        <div class="form-group {% if form_errors(form.username) %} has-error {% endif %}">
            {{ form_errors(form.username) }}
            {{ form_widget(form.username, { 'attr': {'class': 'form-control', 'placeholder': 'Username'} }) }}
        </div>
    </div>
    <div class="form-group col-lg-6 padding-left-0 padding-right-15">
        <div class="form-group {% if form_errors(form.email) %} has-error {% endif %}">
            {{ form_errors(form.email) }}
            {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'Email'} }) }}
        </div>
    </div>
    <div class="form-group col-lg-4 padding-left-0 padding-right-15">
        <div class="form-group {% if form_errors(form.password.first) %} has-error {% endif %}">
            {{ form_errors(form.password.first) }}
            {{ form_widget(form.password.first, { 'attr': {'class': 'form-control', 'placeholder': 'Mot de passe'} }) }}
        </div>
    </div>
    <div class="form-group col-lg-4 padding-left-0 padding-right-15">
        <div class="form-group {% if form_errors(form.password.second) %} has-error {% endif %}">
            {{ form_errors(form.password.second) }}
            {{ form_widget(form.password.second, { 'attr': {'class': 'form-control', 'placeholder': 'Vérification mot de passe'} }) }}
        </div>
    </div>
    <div class="form-group col-lg-4 padding-left-0 padding-right-15">
        <div class="form-group {% if form_errors(form.roles) %} has-error {% endif %}">
            {{ form_errors(form.roles) }}
            {{ form_widget(form.roles, { 'attr': {'class': 'form-control', 'placeholder': 'Valide'} }) }}
        </div>
    </div>
    <div class="form-group col-lg-6 padding-left-0 padding-right-15">
        <div class="form-group {% if form_errors(form.firstname) %} has-error {% endif %}">
            {{ form_errors(form.firstname) }}
            {{ form_widget(form.firstname, { 'attr': {'class': 'form-control', 'placeholder': 'Nom'} }) }}
        </div>
    </div>
    <div class="form-group col-lg-6 padding-right-0 padding-left-15">
        <div class="form-group {% if form_errors(form.lastname) %} has-error {% endif %}">
            {{ form_errors(form.lastname) }}
            {{ form_widget(form.lastname, { 'attr': {'class': 'form-control', 'placeholder': 'Prénom'} }) }}
        </div>
    </div>
    <div class="form-group col-lg-12 padding-right-0 padding-left-0">
        <div class="form-group {% if form_errors(form.address) %} has-error {% endif %}">
            {{ form_errors(form.address) }}
            {{ form_widget(form.address, { 'attr': {'class': 'form-control', 'placeholder': 'Adresse'} }) }}
        </div>
    </div>
    <div class="form-group col-lg-12 padding-right-0 padding-left-0">
        <div class="form-group {% if form_errors(form.complement) %} has-error {% endif %}">
            {{ form_errors(form.complement) }}
            {{ form_widget(form.complement, { 'attr': {'class': 'form-control', 'placeholder': 'Complément'} }) }}
        </div>
    </div>
    <div class="form-group col-lg-4 padding-right-15 padding-left-0">
        <div class="form-group {% if form_errors(form.zipcode) %} has-error {% endif %}">
            {{ form_errors(form.zipcode) }}
            {{ form_widget(form.zipcode, { 'attr': {'class': 'form-control', 'placeholder': 'Cp'} }) }}
        </div>
    </div>
    <div class="form-group col-lg-4 padding-right-0 padding-left-0">
        <div class="form-group {% if form_errors(form.city) %} has-error {% endif %}">
            {{ form_errors(form.city) }}
            {{ form_widget(form.city, { 'attr': {'class': 'form-control', 'placeholder': 'Ville'} }) }}
        </div>
    </div>
    <div class="form-group col-lg-4 padding-right-0 padding-left-15">
        <div class="form-group {% if form_errors(form.country) %} has-error {% endif %}">
            {{ form_errors(form.country) }}
            {{ form_widget(form.country, { 'attr': {'class': 'form-control', 'placeholder': 'Pays'} }) }}
        </div>
    </div>
    <div class="form-group col-lg-6 padding-left-0 padding-right-15">
        <div class="form-group {% if form_errors(form.phone) %} has-error {% endif %}">
            {{ form_errors(form.phone) }}
            {{ form_widget(form.phone, { 'attr': {'class': 'form-control', 'placeholder': 'N° Domicile'} }) }}
        </div>
    </div>
    <div class="form-group col-lg-6 padding-right-0 padding-left-15">
        <div class="form-group {% if form_errors(form.mobile) %} has-error {% endif %}">
            {{ form_errors(form.mobile) }}
            {{ form_widget(form.mobile, { 'attr': {'class': 'form-control', 'placeholder': 'N° Mobile'} }) }}
        </div>
    </div>
    <div class="col-lg-12 padding-right-0 padding-left-0">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Affichage de vos données personnelles</div>

            <!-- List group -->
            <ul class="list-group">
                <li class="list-group-item">
                    N° Domicile public
                    <div class="material-switch pull-right">
                        {{ form_widget(form.phonePublic) }}
                        {{ form_label(form.phonePublic, null,{ 'label_attr': {'class': 'label-success'} }) }}
                    </div>
                </li>
                <li class="list-group-item">
                    N° Mobile public
                    <div class="material-switch pull-right">
                        {{ form_widget(form.mobilePublic) }}
                        {{ form_label(form.mobilePublic, null,{ 'label_attr': {'class': 'label-success'} }) }}
                    </div>
                </li>
                <li class="list-group-item">
                    Adresse public
                    <div class="material-switch pull-right">
                        {{ form_widget(form.addressPublic) }}
                        {{ form_label(form.addressPublic, null,{ 'label_attr': {'class': 'label-success'} }) }}
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="form-group col-lg-6 padding-left-0 padding-right-15">
        <div class="form-group {% if form_errors(form.longitude) %} has-error {% endif %}">
            {{ form_errors(form.longitude) }}
            {{ form_widget(form.longitude, { 'attr': {'class': 'form-control', 'placeholder': 'Longitude'} }) }}
        </div>
    </div>
    <div class="form-group col-lg-6 padding-right-0 padding-left-15">
        <div class="form-group {% if form_errors(form.latitude) %} has-error {% endif %}">
            {{ form_errors(form.latitude) }}
            {{ form_widget(form.latitude, { 'attr': {'class': 'form-control', 'placeholder': 'Latitude'} }) }}
        </div>
    </div>

    {#<div class="form-group">
        {{ form_label(form.file) }}
        {{ form_errors(form.file) }}
        {{ form_widget(form.file) }}
    </div>#}
    <div class="input-group">
        {{ form_errors(form.file) }}
        <span class="input-group-btn">
                <button id="fake-file-button-browse" type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-file"></span>
                </button>
            </span>
        {#<input type="file" id="files-input-upload" style="display:none">#}
        {{ form_widget(form.file, { 'id': 'files-input-upload', 'attr': {'class': 'hidden'} }) }}
        <input type="text" id="fake-file-input-name" disabled="disabled" placeholder="File not selected" class="form-control">
        {#<span class="input-group-btn">
            <button type="button" class="btn btn-default" disabled="disabled" id="fake-file-button-upload">
                <span class="glyphicon glyphicon-upload"></span>
            </button>
        </span>#}
    </div>
    {{ form_widget(form) }}
    <br />
    <input type="submit" value="Create" class="btn btn-success btn-lg" />
    <a href="{{ path('back_user_index') }}" class="btn btn-default btn-lg">Back to the list</a>

    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        // Fake file upload
        document.getElementById('fake-file-button-browse').addEventListener('click', function() {
            document.getElementById('files-input-upload').click();
        });

        document.getElementById('files-input-upload').addEventListener('change', function() {
            document.getElementById('fake-file-input-name').value = this.value;

            document.getElementById('fake-file-button-upload').removeAttribute('disabled');
        });
    </script>
{% endblock %}
